h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
/* Main Header */
.main-header {
  padding: 10px 0;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .logo-container {
    margin-bottom:40px;
  }
  .info-social {
    padding:10px;
    font-weight: bold;
    font-size: 1.6rem;

    .social {
      margin-left: 10px;
      padding-top: 8px;
      a {
        display: inline-block;
        margin-left: 5px;
      }
      img {
        border-radius: 15px;
        transition: border-radius 0.5s ease;
        &:hover {
          border-radius: 50%;
        }
      }
    }
  }
}
/* Info social box for small screens only */
.info-social-small {
  padding:10px;
  font-weight: bold;
  font-size: 1.6rem;
  border: 1px solid #008CD2;
  margin: 50px;

  .social {
    margin-left: 10px;
    padding-top: 8px;
    a {
      display: inline-block;
      margin-left: 5px;
    }
    img {
      border-radius: 15px;
      transition: border-radius 0.5s ease;
      &:hover {
        border-radius: 50%;
      }
    }
  }
}
/* Modules */
.module {
  .module-h2 {
    margin: 20px 0;
  }
  img {
    border-radius: 15px;
  }
}
/* Buttons */
.btn {
  border-radius: 15px;
}
.btn-new {
  display: block;
  margin: 10px auto;
  font-weight: bold;
}

/* Modals */
.custom {
  background: rgba(0,0,0,0.8);
  .modal-content {
    border-radius: 0;
  }

  .modal-h3 {
    background: #008CD2;
    color: #fff;
    padding:10px;
  }

  .modal-h4 {
    margin-bottom: 5px;
  }

  img {
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
  }
}

/* Helper Classes */
.img-full-width {
  width: 100%;
}
